player-connection-mode=Listen
player-connection-guid=2795559021
player-connection-debug=0
player-connection-project-name=Versus Project
player-connection-ip=10.3.19.48
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8ad643fca507414fb340507e5d4aacbb
