player-connection-mode=Listen
player-connection-guid=1506162855
player-connection-debug=0
player-connection-project-name=Versus Project
player-connection-ip=10.3.25.227
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c68721eae4b745a3a8e5d6b4f4dab8b3
