player-connection-mode=Listen
player-connection-guid=753796629
player-connection-debug=0
player-connection-project-name=Versus Project
player-connection-ip=10.0.0.77
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ecfe35d240d84651b374166a81cd391c
